:root {
	font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

main {
	background-color: #282828;
	text-align: center;
	padding: 1em;
	margin: 0 auto;
}

img {
	height: 16rem;
	width: 16rem;
}

h1 {
	color: #ff3e00;
	text-transform: uppercase;
	font-size: 4rem;
	font-weight: 100;
	line-height: 1.1;
	margin: 2rem auto;
	max-width: 14rem;
	font-family: 'Open Sans', sans-serif;
}

p {
	max-width: 14rem;
	margin: 1rem auto;
	line-height: 1.35;
}
